<h1 class="text-center">Add new book</h1>
<div class="mt-2 row m-3 border border-primary rounded shadow">
    <%= form_tag :action => 'create' do %>
        <div class="mb-3 mt-1">
            <label for = "book_title" class="form-label">Title</label>
            <%= text_field 'book', 'title', class: "form-control" %>
        </div>
        <div class="mb-3">
            <label for = "book_author" class="form-label">Author</label>
            <%= text_field 'book', 'author', class: "form-control" %>
        </div>
        <div class="mb-3">
            <label for = "book_genre" class="form-label">Genre</label>
            <%= text_field 'book', 'genre', class: "form-control" %>
        </div>
        <div class="mb-3">
            <label for = "book_cdn" class="form-label">CDN</label>
            <%= text_field 'book', 'cdn', class: "form-control" %>
        </div>
        <div class="d-flex justify-content-center mb-1">
            <%= submit_tag "Create", class: "btn btn-primary w-50" %>
        </div>
        
    <% end -%>
</div>